.imageContainer{
    background: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
    border-style: solid ;
    border-color: white;
    background-repeat: no-repeat;
    background-size: cover;

}

*{
    font-family: 'Poppins', sans-serif;

}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
#logo{
    text-align: center;
    color:red;
    font-weight: bold;
    font-size: 90px;
    background-color:white;
    height:150px;
    width:150px;
    margin:auto;
    border-radius:80%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.heading{
    text-align:center;
    color:white;
    font-size:36px;
}

.locationSelector{
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.locationDropDown{
    width:250px;
    height:30px;
    border-radius: 3px;
    font-size: 15px;
    border: none;
}

.restaurantsinput{
    border: none;
    width:370px;
    height:30px;
    border-radius:3px;
    font-size: 15px;
    margin-left:5px
}

.quickSearchContainer{
    margin-left:115px;
    margin-top:50px
}

.quickSearchHeading{
    text-align: left;
    color: #192f60;
    font-size:30px;
    line-height: 1.5;
    font-weight: bold;
}

.quickSearchSubHeading{
    text-align: left;
    color: gray;
    line-height: .01;
    letter-spacing: normal;
    font-size:18px;
    font-weight: normal;
    margin-bottom: 30px;
}


.tileContainer{
    box-shadow: 0 3px 6px black;
    margin-right: 30px;
    margin-bottom: 30px;
    width:400px;
    height: 150px;
    background-color: white;
    display: inline-block;
    
}

.tileComponent1{
    width:45%;
    float: left;
}
.tileComponent2{
    width:50%;
    float: left;
    margin-top: 20px;
}


.componentHeading{
    text-align: left;
    color:#192f60;
    font-size:18px;
    font-weight: bold;

}

.componentSubHeading{
    text-align: left;
    color:gray;
    font-size:14px
}