.bigbar{
    background-color: rgb(255, 38, 0);
    height:55px;
    margin-bottom: 0;
}

.right{
    float: right;
    color: white;
}

.brand{
    color:white;
    text-decoration:none;
    font-weight: bolder;
}

.rightlink{
    color:white;
}

